
    <main class="main">

        <form class="main__form">
        <!-- Buscador -->
        <input class="main__form--input js-searchInput" 
        type="text"
        name="search"
        placeholder="Nombre del cóctel"
        />
        <!--  Botón de búsqueda -->
        <div class="main__form--buttons">
        <input class="main__form--button js-searchButton"
        type="button" value="Buscar"  />

        <!--  Botón de Reset -->
        <input class="main__form--reset js-formReset"
        type="reset" value="Reset"  />
        </div>
        </form>

        <div class="main__container">

    <!-- Lista de Favoritos -->
    
        <section class="main__container__sectionfavlist">
            <h2 class="main__container__sectionfav--title">Mis cócteles favoritos</h2>
           
            <ul class="main__container__fav--list js-main-listfav"></ul>
        <!-- botón de Reset de Fav -->
        <input class="main__container--reset js-favReset"
        type="reset" value="Reset"  />
        </section>
    
        <!-- Lista principal -->
    
        <ul class="main__container__sectionmainlist js-main-list"></ul>
    
        </div>
    </form>
    
    </main>