// Fonts
$fontsizebody: 12px;
$fontfamily: "Kumbh Sans", sans-serif;
$fontweight-regular: 500;
$fontweight-bold: 900;

//colors
$colortext1: hsl(238, 29%, 16%);
$colortext2: hsl(14, 88%, 65%);
$colortext3: hsl(237, 12%, 33%);
$colortext4: hsl(240, 6%, 50%);
$colorbackgr1: hsl(273, 8%, 73%);
$colorbackgr2: hsl(240, 73%, 65%);
