.main__form{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
gap: 5px;
width: 100%;
padding: 20px;
margin-top: 50px;

&--input{
    background-color: black;
    color: azure;
    border: none;
}

&--buttons{
    display: flex;
    flex-direction: row;
    width: 100px;
    gap: 10px;
    margin-top: 10px;
   
}
&--button{
    background-color: black;
    color: aliceblue;
    border: none
}
&--reset{
    background-color: black;
    color: aliceblue;
    border: none
}
}
.main__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    

    &__sectionfavlist{
    width: 250px;
    height: 100%;
    border: solid 5px black;
    align-items: center;
    text-align: center;
   
   
    &--title{
    font-weight: $fontweight-regular;
    font-family: $fontfamily;
    font-size: 15px;
    }    

&__sectionmainlist{
    width: 60%;
    height: 100%;
}
}
}
.js-image{
    width: 80px;
    height: 100px;
    border: black solid 3px;
}
.js-cocktail{
    list-style: none;
}

.js-titleDrink{
    font-size: 12px;
}
.js-selectedDrink{
    list-style: none;
}
.js-favicon{
    width: 15px;
}
