.main__form{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
gap: 5px;
padding: 20px;
margin-top: 50px;
font-family: $fontfamily;

&--input{
    background-color: black;
    color: azure;
    border: none;
    font-family: $fontfamily;
}

&--buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    gap: 10px;
    margin-top: 10px;
}
&--button{
    background-color: black;
    color: aliceblue;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    font-family: $fontfamily;
}
&--reset{
    background-color: black;
    color: aliceblue;
    border: none;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    font-family: $fontfamily;
}
}
.main__container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content:flex-start;
    font-family: $fontfamily;
    padding: 50px;

    &__sectionfavlist{
    width: 250px;
    height: 100%;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    font-family: $fontfamily;
    }   

    &--reset{
        background-color: black;
        color: aliceblue;
        border: none;
        width: 60px;
        height: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-top: 15px;

    }
}


.js-favReset{

}

.js-main-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 600px;
}
.js-image{
    width: 80px;
    height: 100px;
    border: black solid 3px;
}
.js-cocktail{
    list-style: none;
}

.js-titleDrink{
    font-size: 12px;
}
.js-selectedDrink{
    list-style: none;
}
.js-favicon{
    width: 20px;
    color: purple;
}
