@import "core/variables";
@import "layout/header";
@import "layout/form";

body {
    width: 100vh;
    height: 100%;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(hsl(33, 98%, 50%), hsl(2, 94%, 50%));
}
