@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

* {
    margin: 0;
    padding: 0;
  }
  :root {
    --colortext1: hsl(238, 29%, 16%);
    --colortext2: hsl(14, 88%, 65%);
    --colortext3: hsl(237, 12%, 33%);
    --colortext4: hsl(240, 6%, 50%);
    --colorbackgr1: hsl(273, 8%, 73%);
    --colorbackgr2: hsl(240, 73%, 65%);
    --fontsizebody: 12px;
    --fontfamily: "Kumbh Sans", sans-serif;
    --fontweight-regular: 500;
    --fontweight-bold: 900;
  }
body{
      height: 100vh;
    background-image: linear-gradient(hsl(273, 8%, 73%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    font-family: var(--fontfamily);
}
.title{
    color: var(--colortext2);
    font-size: var(--fontweight-bold);
}
