@import "core/variables";
@import "layout/header";
@import "layout/form";

body {
    width: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(hsl(33, 98%, 50%), hsl(2, 94%, 50%));
    background-repeat:no-repeat ;
    background-size: cover;
}
